.filter-box{
 display: flex;
 justify-content: space-around;
 margin-top: 1rem;
 align-items: center;
 .filter-button{
    border: 2px  solid  rgb(118, 1, 211);
    padding: 0.7rem;
    color: rgb(118, 1, 211);
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    &:hover{
        color: white;
        background-color: rgb(118, 1, 211);
    }
 }
}
.active {
    background-color: rgb(118, 1, 211);
    color: white!important;
}

